html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body{
  height: 100%;
}
body{
  min-width: 320px;
  overflow-x: hidden;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a, button{
  outline-color: transparent;
}
ul,
li{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'NotoSans';
  font-size: 19px;
  line-height: 24px;
  background-color: #FBFAF8;
}
/* .wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
} */
.container{
  max-width: 1058px;
  width: 100%;
  height: auto;
  margin: 0  auto;
  padding: 0 15px;
}

.iconTriangle{
    &::after{
        content: ''; 
        position: absolute; 
        left: 50%;
        bottom: -50px; 
        border: 20px solid transparent; 
        border-top: 15px solid #EF8926; 
        border-radius: 3px;
        position: absolute;
        transform: translate(-50%, -50%); 
    }
}

//btn

