@media(max-width: 1300px){
	.success{
		&::before{
			left: -150px;
		}
		&::after{
			display: none;
		}
	}
	.faq{
		&::after{
			display: none;
		}
	}
}
@media(max-width: 1200px){
	.header__text{
		width: 80%;
	}	
	.success{
		margin-top: 0;
	}
  .feedback-block__title::after{
    width: 220px;
    height: 220px;
    background-size: contain;
    top: 50px;
    right: -532px;
  }
  .problems{
  	margin-top: -85px;
	  	
	  .center-text{
      order: -1;
	  }
  }
  .director{
  	&::before{
  		top: 0px;
  		left: -100px;
  	}
	  	&::after{
	  		display: none;
	  	}
	}
}
@media(max-width: 1080px){
	.checkbox-feedback-block{
		margin-left: 0;
	}
	.portfolio__slider-inner{
    // flex-wrap: nowrap;
    // height: 135px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
	}
	.problems{
		margin-top: 70px;
		.success-item-popup{
			font-size: 16px;
		}	
	}
	.section-title{
		font-size: 27px;
		
		&::before{
	        background-size: contain;
			width: 180px;
			height: 180px;
		}
	}
}
@media(max-width: 991px){
	.header__text{
		width: 100%;
		display: block;
		text-align: center;
		
		&-title{
			margin-left: auto;
			margin-right: auto;
			&::after{
				display: none;
			}
		}
	}	
	.services-title{
    	max-width: 100%;
		left: 0;
		right: 0;
	}
	.success{
		padding: 20px 0px 50px;
		&::before, &::after{
			display: none;
		}
	}
	.repair-types-slider{
		width: 500px;
		height: 500px;
	}
	.repair-types-slider-wrap::before{
		width: 730px;
		height: 730px;
		left: -170px;
	}
	.nav-list-repair{
		width: 280px;
	}
	.button_o{
		font-size: 18px;
	}

	.repair-types-title::before{
		width: 160px;
    height: 160px;
    background-size: contain;
	}
	.nav{
		margin: 45px auto 0;
	}
	.repair-types-tab{
		margin-top: 100px;
	}
	.feedback-block__title::after{
		display: none;
	}
	.feedback-block::after{
		background-position-x: inherit;
	}
	.feedback-block__title, .feedback-block__desc{
		margin-left: auto;
		margin-right: auto;
	}
	.feedback-block2{
		top: 290px;
	}
	.problems{
		top: 85px;
	}
	
	.portfolio-title::before{
    width: 150px;
    height: 150px;
    background-size: contain;
	}
	.designs{
		padding-top: 0;
		top: 350px;
		.repair-types-tab{
			margin-top: 0;
		}
	}
	.director{
		top: 440px;
		padding: 0;
  	&::before{
  		display: none;
  	}
		.director__inner{
	    flex-direction: column-reverse;
    	align-items: center;
		}
		.director-avatar__photo{
			display: none;
		}
		.director-avatar{
			height: 180px;
			margin-top: 50px;
		}
		.director-avatar__photo-mobile{
			display: block;
			position: relative;
	        width: 407px;
	        height: 407px;
	        border-radius: 50%;
	        margin-top: 50px;
	        margin-left: auto;
	        margin-right: auto;
	        overflow: hidden;
	        box-shadow: -40px -20px 0 -10px rgba(102,86,63,.1), 20px 20px 0 -10px rgba(102,86,63,.2);
		}
		.director-content-wrap{
			width: 100%;
		}
		.director-content__text{
			width: 100%;
			left: 0;
			padding: 0 20px;
		}
		.section-title{
			display: flex;
    	align-items: center;
		}
		.director-content__signature{
			width: 100%;
		}
		.director-content__signature-wrap, .director-content__signature-desc{
			width: 200px;
		}
		.director-content__signature-img{
			width: 150px;
			height: 160px;
		}
		.director-content__signature-img::after{
		    left: 0;
    		width: 100%;
		}
	}
	.faq{
		top: 480px;
	}
	.partners{
		top: 275px;
		.partners__title{
			
			&::before{
				width: 110px;
			    height: 130px;
			    background-size: contain;
			}
			&::after{
				width: 500px;
			    height: 300px;
			    background-size: contain;
			}
		}
		.partners-slider__slide img{
			max-width: 227px;
    		width: 100%;
		}
	}
	.footer{
		top: 350px;
	}
}
@media(max-width: 920px){
	.feedback{
		display: none;
	}

	.btn-mobile{
		display: block;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform:translate(-50%, -50%);
		z-index: 1;
	}
	.header{
		&::after{
			background-position-x: unset;
		}
	}
	.services{
		flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    width: 90%;
	}
	.services-title{
		padding-left: 10px;
		padding-right: 10px;
	}

	.services__item{
		&-item1, &-item2, &-item3, &-item4{
			top: 30px;
			left: 0;
		}

		&-item2, &-item4{
			left: 150px;
		}

		&-item2{
			margin-bottom: 30px;
		}
	}
	.nav-list-repair{
		width: 320px;
	}
	.repair-types-slider-wrap::before{
		position: static;
	}
	.repair-types__inner{
    flex-direction: column-reverse;
    align-items: center;
	}
	.repair-types-slider{
		position: relative;
	}
	.repair-types-tab{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.feedback-block__form{
		margin-left: 15px;
	}
	.feedback-block__form{
		button{
			position: absolute;
			bottom: -30px;
			margin-bottom: 50px;
		}
		.checkbox-feedback-block{
			margin-bottom: -15px;
    	margin-top: 90px;
		}
	}
	
	.problems{
		.problems-tablet{
			display: none;
		}

		.success-item__icon{
			background-image: none;
			width: 0;
			height: 0;
		}
		.problems-item__icon-inner-text{
			display: none;
		}	
	}

	.problems-mobile{
		display: block;
		
		.success-item{
			width: auto;
		}
		
		.mobile-active{
			display: block !important;
		}
		.mobile-hiden{
			display: none;
		}
	}
	
	.success-item__icon span
	.designs{
		top: 210px;
	}
	.faq{
		.accordion-item__triger{
		    padding: 16px 20px 16px 20px;
		}
	}
}
@media(max-width: 800px){
	.success{
		&::before{
			display: none;
		}
		&::after{
			display: none;
		}
	}
	.success-desctop{
		display: none;
	}
	.success-mobile{
		display: block;
	}
	.success-title-mobile{
		margin-top: 80px;
		margin-bottom: 50px;
		line-height: 30px;
	}
	.success-title::before{
	    background-size: contain;
	}
	.section-inner-mobile{
		display: flex;
        flex-direction: column;
        align-items: center;
		.success-item__desc{
		    width: 195px;
		}
	}
	.row-tablet{
		display: flex;
		margin-bottom: 50px;
		
		.success-item{
			margin-left: 20px;
			&:first-child{
				margin-left: 0px;
			}
		}
	}
	.success-item-popup{
		width: 200px;
		padding: 10px;
		font-size: 16px;
		line-height: 19px;
	}
	.designs{
		.nav-list-designs button{
			font-size: 12px;
		}	
	}
	.tabs-slider{
		width: 450px;
		height: 450px;
		img{
			width: 450px;
			height: 450px;
		}
	}
}
@media(max-width: 767px){
	.menu__copy{
		width: 70px;
		padding-right: 20px;
	}
	.services__item{
		img{
			width: 100px;
			height: 100px;
		}
	}
	.services__img{
    height: 50px;
    top: 38%;
    left: 39%;
	}
	.services__desc{
		transform: translate(17%,-76%);
	}

	.designs{
		.nav-wrap{
			width: auto;
		}
		.nav-list-repair{
	    flex-direction: column;
    	align-items: flex-end;
    		button{
    			margin-bottom: 10px;
    		}
		}

		.designs-slider{
			height: auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.faq{
		&::before{
			display: none;
		}
	}
	.section-title{
		font-size: 24px;
		
		&::before{
	        background-size: contain;
			width: 110px;
			height: 110px;
		}
	}
	.footer{
		.footer__inner{
			flex-direction: column;
		}
		.maps{
			width: 100%;
			height: 200px;
		    order: 1;
		}
	}
	.arrow-top{
		display: none;
	}
	.feedback-popup{
		.feedback-wrap{
			width: 460px;
			height: 460px;
		}
	}
}
@media(max-width: 600px){
	body{
		margin: 0;
	}
	.header{
		overflow: hidden;
	    border-bottom-left-radius: 100% 30%;
	    border-bottom-right-radius: 100% 30%;
	    width: 100%;
	    top: -2%;
	    height: 639px;
	    background: url(../img/fon/main-mobile-bg.jpg) 100% 0/100% auto no-repeat;
	    box-shadow: none;
	    position: relative;
	    width: 100%;
    
	    &::after{
	    	display: none;
		}
	}
	.header__top{
		margin-right: 10px;
		padding: 0;
		padding-left: 10px;
	}
	.services{
		display: none;
	}
	.header__text, .services-title{
		padding-left: 30px;
		padding-right: 30px;
	}
	.header__text-title{
		font-size: 22px;
		max-width: 600px;
	}
	.header__text-desc{
		padding-left: 0;
	}
	.header__top-logo{
		img{
			width: 110px;
			height: 75px;
		}
	}
	
	.row-tablet{
		display: none;
	}
	.row-mobile{
		display: block;
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
		
		.success-item{
			margin-bottom: 30px;
			margin-left: 20px;
		}
	}

	.nav-list-repair{
		width: 100%;
	}
	.repair-types-slider {
    width: 400px;
    height: 400px;
	}
	.repair-types-title{
		margin-left: auto;
		margin-right: auto;
	}
	.wave-block{
		background-image: none;
	}
	.feedback-block-mobile{
		background-image: url('../img/fon/mobile-bg.jpg');
    overflow: hidden;
    border-top-left-radius: 100% 17%;
    border-top-right-radius: 100% 17%;
    width: 100%;
    
    &::after{
    	display: none;
    }
	}
	.feedback-block-mobile{
		top: 50px;
	}

	.portfolio{
		padding-top: 130px;
	}
	.mobile-hide{
		max-width: 488px;
		width: 100%;
	}
	.designs{
		.nav-wrap{
			width: 100%;
		}
		.designs-slider{
		position: absolute;
	    left: 0;
		}
		.designs-slider{
			margin-top: 0;
		}
	}
	.director{
		top: 700px;
		
		.director-content-wrap{
			width: 100%;
		}
		.director-avatar__desc{
			display: none;
		}
	}
	.faq{
	    padding-top: 200px;
	    
	    .accordion li h3{
				font-size: 16px;
			}
			.accordion li{
				padding: 10px 45px 10px 10px;
			}
	    
	    .accordion-item__triger{
	    	font-size: 17px;
	    	padding: 5px 10px;
  	    border-radius: 20px;
	    }
	    .accordion-item{
	    	margin-bottom: 0;
	    }
	}
	.feedback-block2{
		top: 310px;
	}
	.feedback-popup{
		.feedback-wrap{
			width: 370px;
    	height: 410px;
	    border-radius: 10px;
	    border: 2px solid rgba(243,238,233,.8);
		}
	}
	.tabs-slider{
		width: 350px;
		height: 350px;
		img{
			width: 350px;
			height: 350px;
		}
	}
}
@media(max-width: 480px){
	.header__top-logo{
    order: -1;
	}
	.header__top-contacts{
		margin-left: auto;
	}
	.header__top-menu{
		span{
			display: none;
		}
	}
	.phoneHiden, .header__top-contacts div{
		display: none;
	}
	.services-title{
		font-size: 21px;
	}
	.feedback-block__desc{
		margin-left: 0px;
	}
	.problems-mobile .success-item-popup{
		width: 274px;
		bottom: -435px;
	}
	.designs{
		top: 420px;
	}
	.director{
		.director-content{
			width: 100%;
		}
		.director-avatar__photo-mobile{
			box-shadow: none;
			width: 300px;
			height: 300px;
			img{
				width: 300px;
				height: 300px;
			}
		}
		.director-avatar{
			width: auto;
		}
		.director-content__signature{
			padding-left: 10px;
		}

		.director-content__signature-img {
			width: 105px;
			height: 130px;
			img{
				width: 100px;
				height: 137px;
			}
		}
	}
	.section-title{
		font-size: 22px;
	}
	.footer{
		.copyright-copy{
			font-size: 16px;
		}
		.social svg{
			width: 30px;
			height: 30px;
		}
	}
	.feedback-popup{
		.feedback__icon{
			width: 40px;
	    height: 40px;
	    background-size: contain;
	    background-repeat: no-repeat;
		}
		.feedback__title{
			font-size: 17px;
		}
		.close::before{
			width: 15px;
	    height: 15px;
	    top: 27px;
	    left: -45px;
	    background-size: contain;
		}
		.feedback__input-input{
			width: 295px;
		}
		.feedback-wrap{
			width: 320px;
    	height: 410px;
	    border-radius: 10px;
	    border: 2px solid rgba(243,238,233,.8);
		}
		.feedback__input::after{
			width: 100%;
		}
		.btn{
	    padding: 10px 25px;
	    font-size: 17px;
		}
	}
}
@media(max-width: 465px){
	.btn-mobile .btn{
		padding: 10px 19px;
		font-size: 17px;
	}
	.line::after{
		display: none;
	}
	.feedback-block__form .name:first-child{
		margin-left: 0;
	}
	.feedback-block__form{
		display: flex;
    flex-direction: column;
    justify-content: center;
    
    input[name="name"], input[name="phone"]{
    	width: 100%;
    	font-size: 23px;
    	border-bottom: 1px solid #F7941F;
    }
    
    .name{
    	max-width: 100%;
    	&::before{
    		display: none;
    	}
    }
		
		.phone{
			max-width: 100%;
			left: 0;
		}
	}
	.feedback-block__desc{
		padding-bottom: 30px;
	}
	
	.partners__title::after{
		max-width: 465px;
	}	
}
@media(max-width: 400px){
	.services-title{
		font-size: 18px;
		bottom: -90px;
	}
	.header__text-title{
		font-size: 19px;
	}
	.repair-types-slider {
    width: 330px;
    height: 330px;
	}
	.feedback-block__title{
		font-size: 25px;
		margin-top: -30px;
	}
	
	.partners-slider{
		margin-top: 30px;
	}
	.tabs-slider{
		width: 300px;
		height: 300px;
		img{
			width: 300px;
			height: 300px;
		}
	}
}
@media(max-width: 380px){
	.section-title{
		font-size: 18px;
	}
	.director{
		.director-content__signature-wrap{
			width: 175px;
			font-size: 17px;
		}
	}
	.partners__title::after{
		max-width: 400px;
		top: -150px;
	}
}