/* header */
    .header{
    	display: flex;
        position: relative;
        width: 100%;
        height: 1134px;
        color: #fff;
        background-image: $img-header;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - -42px);
            background: rgba(147,126,108,.4);
            box-shadow: inset 0 4px 250px #937e6c, inset 0 4px 250px #937e6c;
            z-index: 0;
        }

        &::after{
            position: absolute;
            width: 100%;
            height: 390px;
            content: '';
            bottom: -42px;
            left: 0;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='795'%3e%3cpath d='M800 177.8c-163.9 145.1-331.8 184.7-474.1 169-8.9-1-19.3-2.4-19.3-2.4C244.4 336 198.2 329.7 152 308c-52.9-24.8-88.2-61.4-120.9-95.3-13.3-13.8-23.8-26-31.1-34.9V795h1600V177.8c-27.4-34.5-81.4-92.8-168-133.8-18.2-8.6-110.6-50.9-235.6-44C1061.1 7.5 977.8 20.3 800 177.8z' fill='%23FBFAF8'/%3e%3c/svg%3e");
            background-position-x: center;
            z-index: 0;
        }
    }
    .header__top{
    	max-width: 1600px; 
    	width: 100%;
    	height: 120px;
    	display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        
        &-contacts{
        	color: #fff;
        	a{
        		display: flex;
    	        align-items: center;
    	        margin-bottom: 3px;
        	}
        	span{
        		color: #fff;
        		font-size: 11px;
        		display: flex;
    	        align-items: center;
           	    justify-content: flex-end;
        	}
        }
        &-logo{
            img{
                width: 150px;
                height:102px;
            }
            
        }
        &-menu{
        	color: #FFF;
        	display: flex;
            align-items: center;
        }
    }
    
    .header__text{
        width: 50%;
        display: flex;
        align-items: center;
        margin-top: 130px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        
        &-title{
            font-family: 'MontserratAlternates-ExtraBold';
            font-size: 28px;
            max-width: 654px;
            line-height: 32px;
            position: relative;
            padding-top: 10px;
            
            &::after{
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                width: 3px;
                height: 89px;
                background-image: url('../img/svg/title-separator.svg');
                background-repeat: no-repeat;
            }
        }
        &-desc{
            padding-left: 32px;
            font-size: 20px;
            text-shadow: 0 4px 10px rgba(255,255,255,.25);
        }
    }
    .services-title{
        position: absolute;
        bottom: -130px;
        max-width: 864px;
        font-weight: 700;
        line-height: normal;
        font-size: 25px;
    }

    .services-wrap{
        max-width: 1030px;
        width: 100%;
        height: 700px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .services{
        max-width: 340px;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .services__item{
        width: 136px;
        height: 136px;
        background-image: url('../img/svg/circle.svg');
        position: relative;
        top: -20px;
        
        &-item1{
           left: 120px; 
        }
        &-item2{
           left: 50px; 
        }
        &-item3{
           left: 50px; 
        }
        &-item4{
           left: 120px; 
        }

    }
    .services__desc{
        max-width: 152px;
        width: 100%;
        font-size: 17px;
        line-height: 20px;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(35%, -50%);
        display: block;
        span{
            background-color: #FFF;
            color: #000;
            padding: 0px 5px 4px;
        }
    }

    .feedback {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 40px;
        left: 355px;
        width: 530px;
        height: 530px;
        border-radius: 50%;
        background-image: linear-gradient(146.57deg,rgba(255,255,255,.28) 14.73%,rgba(255,255,255,.81) 65.62%);
    }
    .feedback-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 20px solid rgba(243,238,233,.83);
        background-color: #fff;
        z-index: 2;
    }

    .feedback__icon{
        width: 55px;
        height: 55px;
        background-image: url('../img/svg/feedback_icon.svg');
    }
    .feedback__title{
        width: 328px;
        font-family: 'MontserratAlternates-SemiBold';
        line-height: normal;
        font-size: 21px;
        text-align: center;
        color: #322823;
    }
    .feedback__form {
        top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 200px;
        justify-content: space-around;
    }
    .feedback__input {
        position: relative;
        border: none;
        font-size: 19px;
        
        &::after{
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 343px;
            height: 3px;
            background-color: rgba(50,40,35,.7);
            border-radius: 50px;
        }
    }
    .feedback__input-input {
        position: relative;
        width: 343px;
        height: 39px;
        border: none;
        background-image: url('../img/svg/feedback_input_bg.svg');
        background-repeat: no-repeat;
        background-position: 100%, 50%;
        
        &:focus{
            outline-color: transparent; 
        }
    }
    .btn {
        padding: 14px 46px;
        background: $gradient-btn;
        border: none;
        border-radius: 50px;
        font-size: 19px;
        color: #fff;
        box-shadow: $shadow-btn;
        cursor: pointer;
        transition: all .9s;
        
        &:hover{
            background: linear-gradient(90deg,#f17c0c 0,#fba600 100%),50%;
        }
    }
    
    .checkbox {
        position: relative;
        display: flex;
        align-items: center;
    }

    .checkbox input[type=checkbox] {
        visibility: hidden;
    }
    .checkbox__label {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 20px;
        min-width: 20px;
        width: 21px;
        height: 21px;
        background-color: transparent;
        border: 1px solid #322823;
        border-radius: 50%;
        cursor: pointer;
        
        &::after{
            content: "";
            position: absolute;
            top: 6px;
            left: 4px;
            width: 10px;
            height: 4px;
            border: 2px solid #322823;
            border-top: none;
            border-right: none;
            opacity: 1;
            transform: rotate(-45deg);
        }
    }
    .checkbox input[type=checkbox]:checked+label:after {
	    opacity: 1;
	}
    .checkbox__label:after {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 4px;
    border: 2px solid #322823;
    border-top: none;
    border-right: none;
    content: "";
    opacity: 0;
    transform: rotate(-45deg);
	}
    .checkbox__desc_round-feedback {
        padding-left: 14px;
        width: 190px;
        height: 48px;
        font-size: 13px;
        margin-top: -5px;
    }
    .checkbox__desc {
        padding-left: 10px;
        font-weight: 200;
        line-height: 16px;
        font-size: 13px;
        color: #322823;
        span{
            cursor: pointer;
            &:hover{
                border-bottom: 1px solid #232323;
            }
        }
    }
/* header-end */

/* success */
	.success{
	    position: relative;
	    padding: 110px 0 181px;
	    margin-top: 100px;
	    background-image: url('../img/svg/big_round_decor.svg');
	    background-repeat: no-repeat;
	    background-position: center -65px;
	    
	    &::before{
		    content: '';
	    	position: absolute;
		    left: 0;
		    top: -150px;
		    width: 204px;
		    height: 834px;
		    background-image: url('../img/decor/success_left_decor.png');
		    background-repeat: no-repeat;
	    }

	    &::after{
		    content: '';
	    	position: absolute;
		    right: 0;
		    top: 180px;
		    width: 267px;
		    height: 800px;
		    background-image: url('../img/decor/success_right_decor.png');
		    background-repeat: no-repeat;
	    }
	    .row{
	    	height: 100%;
	    	min-height: 95px;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 10px;
	    	&:nth-child(odd){
	    		display: flex;
		        justify-content: center;
	    	}
	    }
	}
	.wrapper_small{
		position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    max-width: 986px;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 12px;
	    padding-right: 12px;
	    z-index: 1;
	}
	.success-item {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 188px;
	    font-size: 19px;
	    font-weight: 300;
	    text-align: center;
	    color: #000;
	    z-index: 0;
	}
	.success-item__icon {
	    position: relative;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 80px;
	    height: 80px;
	    border-radius: 50%;
	    background-image: url('../img/svg/item_icon.svg');
	    background-repeat: no-repeat;
	    background-position: 0 0;
        background-size: contain;
	    cursor: pointer;
	}
	.success-item__icon-inner {
	    position: relative;
	    display: flex;
	    visibility: visible;
	    justify-content: center;
	    align-items: center;
	    border-radius: 50%;
	    width: 58px;
	    height: 58px;
	    opacity: 0;
	    transition: .2s;
	    background: linear-gradient(90deg,#f48922 0,#ffb015 100%);
	}
	.success-item__icon:hover {
    	 .success-item__icon-inner{
    		opacity: 1;
    	} 
        .success-item-popup{
            visibility: visible; 
            opacity: 1;
        }
    }

	.success-item__icon span {
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    align-items: center;
	    justify-content: center;
	    vertical-align: middle;
	    font-size: 24px;
	    font-weight: 900;
	}

	.success-item-popup {
	    position: absolute;
	    bottom: 90px;
	    visibility: collapse; 
	    width: 423px;
	    padding: 10px 20px 10px;
	    font-style: normal;
	    font-weight: 300;
	    line-height: 25px;
	    font-size: 19px;
	    text-align: left;
	    transform: translate3d(0,-5px,0);
	    opacity: .1;
	    
	    &::before{
		    content: '';
	    	position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    border: 3px solid #EF8926;
            border-radius: 10px;
		    z-index: -1;
	    }
    }

    .section-title {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'MontserratAlternates-Bold';
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        color: #322823;
        z-index: 0;
        
        span{
            font-family: 'MontserratAlternates-Regular';
        }

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            background-repeat: no-repeat;
        }
    }

    .success-title {
        max-width: 391px;
        line-height: 45px;
        
        &::before{
            margin-left: -108px;
            margin-top: -110px;
            width: 216px;
            height: 220px;
            background-image: url('../img/svg/title.svg');
            background-repeat: no-repeat;
        }
    }
    .success-item__desc{
        width: 188px;
        padding-top: 10px;
    }
/* success-end */

/* repair */
    .repair-types-slider-wrap{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: -120px;
            left: -155px;
            width: 817px;
            height: 817px;
            background-image: url('../img/svg/repair-types_slider_decor.svg');
            z-index: 0;
        }
    }

    .repair-types-slider {
        position: absolute;
        width: 546px;
        height: 546px;
        border-radius: 50%;
        overflow: hidden;
    }
    .slider-arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        margin-top: -19px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 0 3.05528px 15.2764px rgba(50,40,35,.1);
        background: #fff;
        cursor: pointer;
        z-index: 5;
        
        &:hover{
            background: linear-gradient(90deg,#f48922 0,#ffb015 100%);
            box-shadow: 0 5px 25px #feab17;
        }
    }

    .slider-arrow_left {
        left: 2px;
    }
    .slider-arrow_right {
        right: 2px;
    }

    .repair-types-tab{
        width: 39.5%;
        margin-left: auto;
    }
    .repair-types-title {
        position: relative;
        max-width: 346px;
        align-items: flex-start;
        line-height: 30px;
        
        &::before{
            top: 50%;
            left: 50%;
            margin-left: -120px;
            margin-top: -105px;
            width: 216px;
            height: 220px;
            background-image: url('../img/svg/title2.svg');
        }
    }

    .nav-wrap{
        position: relative;
    }
    .nav {
        margin: 77px auto 0;
        position: relative;
        overflow: hidden;
        max-width: 100%;
    }
    .nav-list-repair {
        min-width: 390px;
        display: block;
    }
    .repair-types-nav__item:first-child {
        margin-top: 0;
    }
    .button_o {
        position: relative;
        border: 2px solid #EEEBE5;
        border-radius: 25px;
        padding: 10px 35px;
        z-index: 1;
        cursor: pointer;
        background-color: transparent;
        transition: all .3s;
        
        &:hover{
            border-color: #CBC7BF;
        }
        
       &::before, &::after{
             content: '';
             position: absolute;
             height: 2px;
             background-color: #FBFAF8;
        }
        
        &::before{
            width: 15px;
            top: -2px;
            left: 30px;  
        }

        &::after{
            width: 5px;
            top: 43px;
            right: 40px;
        }
    }
    .active{
        border: 2px solid #F48922;
        
        &::before, &::after{
             content: '';
             position: absolute;
             height: 2px;
             background-color: #FBFAF8;
        }
        
        &::before{
            width: 15px;
            top: -2px;
            left: 30px;
            
        }

        &::after{
            width: 5px;
            top: 43px;
            right: 40px;
        }
    }
    .repair-types-nav__item {
        margin-top: 22px;
        font-size: 20px;
        color: #322823;
    }
/* repair-end */















/* icons */
    .phoneIcon{
        width: 30px;
        height: 30px;
    }
    .socialIcon{
        width: 17px;
        height: 16px;
    }
    .whatsApp{
        margin-left: 5px;
        margin-right: 10px;
    }
    .menuIcon{
        width: 29px;
        height: 19px;
        margin-left: 7px;
        cursor: pointer;
    }
    .services__img{
        height: 65px;
        position: absolute;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .next{
        width: 20px;
        height: 20px;
    }
    .prev{
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
    }
    /* icons-end */