//color
$arrow-top: #F7941F;


// photo-header
$img-header: url('../img/header/slide1.jpg');



//button
$gradient-btn: linear-gradient(90deg,#f48922 0,#ffb015 100%); 
$shadow-btn: 0 8px 35px rgba(254,171,23,.7);


//mixin
// @mixin f300{
// 	font-family: 'Roboto', sans-serif;
// 	font-weight: 300;
// }

